* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}

body {
  /* background-color: rgb(227, 155, 155); */
  background-color: #4f772d;
}

.container {
  background-color: rgb(250, 250, 250);
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-sizing: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid #4f772d;
  font-size: 16px;
}

.search-box button {
  padding: 15px 0;
  font-size: 17px;
  width: 25%;
  background-color: #4f772d;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
}

.result {
  position: relative;
}

#search-btn {
  cursor: pointer;
}

.result h3 {
  font-size: 30px;
  color: black;
}

.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.result button {
  background-color: transparent;
  color: #4f772d;
  border: none;
  outline: none;
  font-size: 18px;
}

.result .details {
  display: flex;
  gap: 10px;
  color: #6d9649;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.word-meaning {
  color: #4f772d;
}

.word-example {
  color: #4f772d;
  font-style: italic;
  border-left: 5px solid #4f772d;
  padding-left: 20px;
  margin-top: 30px;
}

.error{
    margin-top: 80px;
    text-align: center;
}